@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spin {
    display: inline-block;
    animation: spin 1s linear 0s infinite forwards;
}
h2 {
    color: #ddd;
}
.banner a {
    display: flex;
    flex-direction: row;
}
.banner a span {
    font-size: 24px;
    margin-left: 0.5em;
}
