@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
body {
    display: block;
}
main {
    max-width: 45em;
    margin: auto;
    margin-bottom: 1em;
}
#section-main {
    max-width: none;
}
.spin {
    display: inline-block;
    animation: spin 1s linear 0s infinite forwards;
}
h2 {
    color: #ddd;
}
.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner a {
    display: flex;
    flex-direction: row;
}
.banner a span {
    font-size: 24px;
    margin-left: 0.5em;
}
.banner a img {
    max-height: 32px;
}
#section-main details ul li a::after {
    content: attr(href);
}
#section-article img {
    display: block;
    max-width: 80%;
    margin: auto;
}
