@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: white;
}
main {
    margin: 0;
}
#section-main {
    min-width: calc(100vw - 3em);
}
.spin {
    display: inline-block;
    animation: spin 1s linear 0s infinite forwards;
}
h2 {
    color: #555;
}
.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner a {
    display: flex;
    flex-direction: row;
    border-bottom: 0 !important;
}
.banner a span {
    font-size: 24px;
    margin-left: 0.5em;
    border-bottom: 3px solid red;
}
.banner a img {
    max-height: 32px;
}
#section-main details ul li a:nth-child(1)::after {
    content: attr(href);
}
#section-main pre {
    white-space: normal;
}
#section-article {
    background-color: white;
    color: #444;
    border: 0;
    max-width: 45em;
    margin: auto;
}
#section-article img {
    display: block;
    max-width: 80%;
    margin: auto;
}
#section-article a {
    border-bottom: 3px solid red;
    color: black;
    text-decoration: none;
}
#section-article p {
    line-height: 2;
}
#section-article iframe {
    display: block;
    width: 100%;
    border: 0;
    margin: 0;
}
#section-article pre {
    background-color: #eee;
    padding: .5em;
    border: .25em solid #ccc;
    border-radius: 0;
    line-height: 1.4;
}
#section-article blockquote {
    border-left: .5em solid #ccc;
    margin: 0;
    padding: 1em 2em;
}
footer {
    flex-grow: 1;
}
